/*
   Typography
   ========================================================================== */

$doc-font-size              : 15;
$paragraph-indent           : false;
$indent-var                 : 0.5em;

/* Modern System Fonts */
$sans-serif                 : "Avenir Next", Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif                      : "Hoefler Text", Georgia, "Times New Roman", serif;
$monospace                  : "SFMono-Regular", Menlo, Monaco, Consolas, monospace;

/* Required Theme Variables (Do not remove) */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.441em;
$type-size-2                : 1.953em;
$type-size-3                : 1.4em;
$type-size-4                : 1.2em;
$type-size-5                : 1em;
$type-size-6                : 1em;
$type-size-7                : 0.6875em;
$type-size-8                : 0.625em;
